body {
    background: #77C4B4;
    margin: 0;
}

.logo {
    width: 300px;
    margin: 1.5em;
}

h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #fff;
    margin-bottom: 3em;
}

.extra {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    margin-bottom: 3em;
}

.main-text {
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.big {
    width: 330px;
    margin-left: 7em;
    margin-right: 7em;
}

.small {
    width: 300px;
    margin-left: 3em;
}

.footer {
    background: #fff;
    text-align: center;
    padding: 4em;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.image-text {
    color: #fff;
    font-size: 1.75rem;
    font-family: "futura-pt", sans-serif;
    margin-left: 3em;
}